/* *{
    box-sizing: border-box;
} */

table{
    border-collapse: collapse;
    border: none;
}

td, th{
    padding: 0.25rem;
    border: none;
}

.absolute{
    position: absolute;
}

.align-bottom {
    vertical-align: bottom;
}

.align-top {
    vertical-align: top;
}

.bg-gray-50{
    background: rgb(249, 250, 251);
}

.bg-gray-100{
    background: rgb(243, 244, 246);
}

.border{
    border: 1px solid #000;
}

.bottom-0{
    bottom: 0;
}

.font-mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.m-0{
    margin: 0;
}

.my-2{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mb-0{
    margin-bottom: 0;
}

.mb-52 {
    margin-bottom: 13rem;
}

.mb-60 {
    margin-bottom: 15rem;
}

.ml-16 {
    margin-left: 4rem;
}

.p-1{
    padding: 0.25rem;
}

.p-2{
    padding: 0.5rem;
}

.p-4{
    padding: 1rem;
}

.py-1{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-0{
    padding-right: 0;
    padding-left: 0;
}

.px-1{
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}

.px-2{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.px-4{
    padding-right: 1rem;
    padding-left: 1rem;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.w-full{
    width: 100%;
}
